
@model ESale.WebUI.Models.FilterModel


<div class="col-md-12">
    <div class="product-view-top">

        @using (Html.BeginForm("FilterProducts", "Shops", FormMethod.Post))
        {

            <div class="row">



                <div class="col-md-4">
                    <div class="product-search">
                        <input type="text" value="@Model.Title" name="Title" placeholder="ARA">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-short">
                        <div class="dropdown">
                            <select name="SortParameter" class="dropdown-toggle" data-toggle="dropdown">
                                <option value="0" class="dropdown-item">Sırala</option>
                                <option value="1" class="dropdown-item">Önce en yeni</option>
                                <option value="2" class="dropdown-item">Fiyata göre azalan</option>
                                <option value="3" class="dropdown-item">Fiyata göre artan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-price-range">
                        <div class="dropdown">
                            <select name="Price" class="dropdown-toggle" data-toggle="dropdown">
                                <option value="0-2000000" class="dropdown-item">Fiyat aralığı seç</option>
                                <option value="0-49" class="dropdown-item">₺0 to ₺49</option>
                                <option value="50-99" class="dropdown-item">₺50 to ₺99</option>
                                <option value="100-149" class="dropdown-item">₺100 to ₺149</option>
                                <option value="150-199" class="dropdown-item">₺150 to ₺199</option>
                                <option value="200-249" class="dropdown-item">₺200 to ₺249</option>
                                <option value="250-2000000" class="dropdown-item">₺250+</option>
                            </select>
                        </div>




                    </div>
                </div>




            </div>

        }
    </div>
</div>