
@{
    Layout = null;
}

<!DOCTYPE html>
<head>

    <title>HESAP GİRİŞ</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Login/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Login/css/templatemo_style.css" rel="stylesheet" type="text/css">
</head>


<body class="templatemo-bg-image-1">
    <div class="container">
        <div class="col-md-12">

            @RenderBody()


        </div>
    </div>

    @RenderSection("Scripts", false)




</body>
</html>


