






<div class="col-md-9">
    <div class="header-slider normal-slider">
        <div class="header-slider-item">
            <img src="~/Shop/img/banner1.jpg" width="1040" height="500" alt="Slider Image" />

        </div>
        <div class="header-slider-item">
            <img src="~/Shop/img/banner2.jpg"  width="1040" height="500" alt="Slider Image" />

        </div>
        <div class="header-slider-item">
            <img src="~/Shop/img/banner3.png"  width="1040" height="500" alt="Slider Image" />

        </div>
        <div class="header-slider-item">
            <img src="~/Shop/img/banner4.png"  width="1040" height="500" alt="Slider Image" />

        </div>
        <div class="header-slider-item">
            <img src="~/Shop/img/banner5.jpg"  width="1040" height="500" alt="Slider Image" />

        </div>



    </div>
</div>