

@model ESale.WebUI.Models.CommentListModel





<div class="reviews-submitted">


    @if (Model.Comments.Count == 0)
    {
        <div class="alert alert-warning col-md-12">
            Hiç yorum yapılmadı. Haydi ilk yorumu sen yap !
        </div>
    }
    else
    {
        @foreach (var item in Model.Comments)
        {
            <div class="reviewer">@item.UserName - <span>@item.CreateDate</span></div>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>
                @item.Description
            </p>
        }
    }



    @*@Html.PagedListPager((IPagedList)Model.Comments,page=>Url.Action("ProductCommentList",new { page}))*@


</div>