<!-- Brand End -->
<!-- Feature Start-->
<br />
<br />
<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Güvenle Ödeme</h2>
                    <p>
                        Güvenli ödeme ile paranız güvende
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Hızlı kargo</h2>
                    <p>
                        Bir gün içerisinde kapınızda teslimat
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>15 gün içinde iade</h2>
                    <p>
                        15 gün içerisinde koşulsuz iade hakkı
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>7/24 Destek</h2>
                    <p>
                        7/24 canlı destek ile sorularınızı yetkililere sorabilirsiniz
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->
<!-- Category Start-->
<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="~/Shop/img/category-3.jpg" />
                    <a class="category-name" href="">
                        <p>Bu fırsatlar kaçmaz</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="~/Shop/img/category-4.jpg" />
                    <a class="category-name" href="">
                        <p>Doğru yerdesiniz</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="~/Shop/img/category-5.jpg" />
                    <a class="category-name" href="">
                        <p>Haydi alışverişe</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="~/Shop/img/category-6.jpg" />
                    <a class="category-name" href="">
                        <p>Doğru yerdesiniz</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="~/Shop/img/category-7.jpg" />
                    <a class="category-name" href="">
                        <p>Bu fırsatlar kaçmaz</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="~/Shop/img/category-8.jpg" />
                    <a class="category-name" href="">
                        <p>Doğru yerdesiniz</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>